*.o
client-introduction 
client-tutoriel 
client-interactif 
client-TUTORIEL2 
client-crypteMove 
client-BayOfPigs 
client-crypteSeq 
client-projetX 
client-planB 
client-Northwoods 
client-OneMillion 
client-LostCause